openapi: 3.0.0
info:
  title: Toolost API
  description: API for Toolost platform
  version: 1.0.7
  contact:
    name: Toolost Support
    url: https://toolost.com/support
    email: support@toolost.com

servers:
  - url: https://toolost.com/api
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: HTTP status code
      required:
        - error
        - code

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        password:
          type: string
          format: password
          description: User password
          example: "password123"
        googleCaptchaToken:
          type: string
          nullable: true
          description: Google reCAPTCHA token (optional)
          example: null

    LoginResponse:
      type: object
      properties:
        status:
          type: string
          description: Response status
          example: "success"
        token:
          type: string
          description: JWT bearer token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      required:
        - status
        - token

    Release:
      type: object
      properties:
        id:
          type: integer
          example: 630245
        title:
          type: string
          example: "Curses"
        created_at:
          type: string
          format: date-time
          example: "2025-01-20T17:34:08.000000Z"
        cover_url:
          type: string
          format: uri
          nullable: true
          example: "https://toolost.s3.us-east-2.amazonaws.com/artworks/example.jpg"
        status:
          type: integer
          example: 1
        release_date:
          type: string
          format: date
          example: "2025-01-24"
        upc:
          type: string
          example: "0693887662098"
        catalog_number:
          type: string
          example: "TOOLOST3000630245"
        label:
          type: string
          example: "JoBo Gamer Records"
        language:
          type: string
          example: "en"
        primary_genre:
          type: string
          example: "Rock"
        secondary_genre:
          type: string
          nullable: true
          example: "Jazz"
        remix_or_version:
          type: string
          nullable: true
          example: null
        type:
          type: string
          example: "Single"
        c_line:
          type: string
          example: "JoBo Gamer Records"
        c_year:
          type: string
          example: "2025"
        p_line:
          type: string
          example: "JoBo Gamer Records"
        p_year:
          type: string
          example: "2025"
        smartlink:
          type: object
          nullable: true
          properties:
            id:
              type: integer
              example: 511846
            short_id:
              type: string
              example: "curses"
            release_id:
              type: string
              example: "630245"
        participants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "JoBo Gamer"
              id:
                type: integer
                example: 1285472
              role:
                type: string
                example: "primary"

    ReleaseListResponse:
      type: object
      properties:
        submissions:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: "#/components/schemas/Release"
            total:
              type: integer
              example: 55
            per_page:
              type: integer
              example: 8
            last_page:
              type: integer
              example: 7
            next_page_url:
              type: string
              format: uri
              nullable: true
              example: "http://toolost.com/api/portal/release?page=2"

paths:
  /auth/login:
    post:
      summary: User login to obtain bearer token
      description: Authenticates user with email and password to receive JWT token for accessing protected endpoints
      tags: [Authentication]
      security: [] # No auth required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        404:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/me:
    get:
      summary: Get current authenticated user profile
      description: Returns detailed information about the currently authenticated user
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        200:
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
        401:
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  
  #/api/portal/dashboard/wallet:
  get:
    summary: "Get User Wallet Balance"
    description: "Retrieve current wallet balance and financial information for the authenticated user"
    tags:
      - Authentication
      - Finance
    security:
      - BearerAuth: []
    operationId: "getWalletBalance"
    responses:
      '200':
        description: "Wallet balance information retrieved successfully"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Balance"
      '401':
        $ref: "#/components/schemas/Error"
      '403':
        $ref: "#/components/schemas/Error"

#/components/schemas/Balance.json
type: object
required:
  - balance
properties:
  balance:
    type: object
    required:
      - available
      - earnings
      - payouts
      - sales
    properties:
      available:
        type: number
        format: float
        description: Available balance in the wallet
        example: 12.37
      earnings:
        type: number
        format: float
        description: Total earnings
        example: 26.00
      adjustment:
        type: number
        format: float
        nullable: true
        description: Balance adjustment
        example: 0
      manual_entry:
        type: number
        format: float
        nullable: true
        description: Manual entry balance
        example: 0
      wallet_incoming:
        type: number
        format: float
        nullable: true
        description: Total incoming payments
        example: 0
      wallet_outgoing:
        type: number
        format: float
        nullable: true
        description: Total outgoing payments
        example: 0
      payouts:
        type: number
        format: float
        description: Total payouts
        example: 12.63
      sales:
        type: number
        format: float
        description: Total sales
        example: 26.00
      publishing:
        type: number
        format: float
        nullable: true
        description: Publishing earnings
        example: 0
      cover_licensing_refund:
        type: number
        format: float
        nullable: true
        description: Cover licensing refunds
        example: 0
      youtube_mcn:
        type: number
        format: float
        nullable: true
        description: YouTube MCN earnings
        example: 0

security:
  - bearerAuth: []

