openapi: 3.0.0
info:
  title: Toolost API
  description: API for Toolost platform
  version: 1.0.0
  contact:
    name: Toolost Support
    url: https://toolost.com/support
    email: support@toolost.com

servers:
  - url: https://toolost.com/api
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: HTTP status code
      required:
        - error
        - code

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        password:
          type: string
          format: password
          description: User password
          example: "password123"
        googleCaptchaToken:
          type: string
          nullable: true
          description: Google reCAPTCHA token (optional)
          example: null

    LoginResponse:
      type: object
      properties:
        status:
          type: string
          description: Response status
          example: "success"
        token:
          type: string
          description: JWT bearer token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      required:
        - status
        - token

paths:
  /auth/login:
    post:
      summary: User login to obtain bearer token
      description: Authenticates user with email and password to receive JWT token for accessing protected endpoints
      tags: [Authentication]
      security: [] # No auth required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            example:
              email: "user@example.com"
              password: "password123"
              googleCaptchaToken: null
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
              example:
                status: "success"
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        404:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Invalid email or password"
                code: 401
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Login service unavailable"
                code: 500
  /auth/me:
  get:
    summary: Get current authenticated user profile
    description: Returns detailed information about the currently authenticated user including personal details, subscription status, payment methods, and account settings
    tags: [Authentication]
    security:
      - bearerAuth: []
    responses:
      200:
        description: User profile retrieved successfully
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 10234
                    email:
                      type: string
                      format: email
                      example: "john.doe@example.com"
                    first_name:
                      type: string
                      nullable: true
                      example: "John"
                    last_name:
                      type: string
                      nullable: true
                      example: "Doe"
                    username:
                      type: string
                      nullable: true
                      example: "johndoe"
                    type:
                      type: string
                      example: "customer"
                    created_at:
                      type: string
                      format: date-time
                      example: "2024-06-15T14:23:11Z"
                    updated_at:
                      type: string
                      format: date-time
                      example: "2025-01-09T09:42:37Z"
                    stripe_id:
                      type: string
                      example: "cus_9AbCDefGhijk123"
                    admin_access:
                      type: integer
                      example: 0
                    priority_member:
                      type: integer
                      example: 0
                    banned:
                      type: integer
                      example: 0
                    details:
                      type: object
                      properties:
                        first_name:
                          type: string
                          example: "John"
                        last_name:
                          type: string
                          example: "Doe"
                        display_name:
                          type: string
                          example: "John D."
                        country:
                          type: string
                          example: "United States"
                        city:
                          type: string
                          example: "New York"
                        postal_code:
                          type: string
                          example: "10001"
                    label:
                      type: object
                      properties:
                        label_name:
                          type: string
                          example: "Doe Music Co."
                        profile_img:
                          type: string
                          format: uri
                          example: "https://example.com/images/johndoe.jpg"
                        about:
                          type: string
                          example: "Independent artist and producer."
                    subscriptions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 98765
                          type:
                            type: string
                            example: "Standard"
                          stripe_status:
                            type: string
                            example: "active"
                          ends_at:
                            type: string
                            format: date-time
                            example: "2025-12-31T23:59:59Z"
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                stripe_price:
                                  type: string
                                  example: "price_ABC123XYZ456"
                subscription:
                  type: object
                  properties:
                    active:
                      type: boolean
                      example: true
                    grace_period:
                      type: boolean
                      example: false
                notifications:
                  type: array
                  items:
                    type: object
      401:
        description: Unauthorized - Invalid or missing token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      403:
        description: Forbidden - User not authenticated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
security:
  - bearerAuth: []


