openapi: 3.0.3
info:
  title: Toolost API
  description: API documentation for Toolost platform and services.
  version: 1.0.7
  contact:
    name: Toolost Support
    url: https://toolost.com/support
    email: support@toolost.com

servers:
  - url: https://toolost.com/api
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication for API requests.

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Error message
          example: "Unauthorized"
        details:
          type: string
          description: Additional error details
          example: "Invalid or missing token"
      required:
        - code
        - error

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        password:
          type: string
          format: password
          description: User password
          example: "password123"
        googleCaptchaToken:
          type: string
          nullable: true
          description: Google reCAPTCHA token (optional)
          example: null

    LoginResponse:
      type: object
      properties:
        status:
          type: string
          description: Response status
          example: "success"
        token:
          type: string
          description: JWT bearer token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      required:
        - status
        - token

    User:
      type: object
      required:
        - user
      properties:
        user:
          type: object
          required:
            - id
            - email
            - subscriptions
          properties:
            id:
              type: integer
              example: 67526
            email:
              type: string
              format: email
              example: "john.doe@example.com"
            first_name:
              type: string
              nullable: true
              example: "John"
            last_name:
              type: string
              nullable: true
              example: "Doe"
            username:
              type: string
              nullable: true
              example: "john_doe"
            type:
              type: string
              example: "customer"
            created_at:
              type: string
              format: date-time
              example: "2023-01-20T12:04:45.000000Z"
            updated_at:
              type: string
              format: date-time
              example: "2023-07-26T11:06:59.000000Z"
            stripe_id:
              type: string
              example: "cus_RcYs2WwoAjDZI4"
            stripe_status:
              type: string
              example: "active"
            ends_at:
              type: string
              format: date-time
              example: "2024-06-20T00:00:00.000000Z"
            pm_type:
              type: string
              example: "visa"
            pm_last_four:
              type: string
              example: "5304"
            is_audio_scan_enable:
              type: boolean
              example: true
            balance:
              type: string
              format: float
              example: "12.37"
            details:
              type: object
              properties:
                display_name:
                  type: string
                  example: "john_doe"
                steralis_id:
                  type: string
                  example: "987654"
                label_id:
                  type: string
                  example: "1234"
                joining_since:
                  type: string
                  format: date
                  example: "2023-01-20"
                product_count:
                  type: integer
                  example: 24
                license_count:
                  type: integer
                  example: 32
                conversion_point:
                  type: integer
                  example: 48
                is_elite_verified:
                  type: boolean
                  example: true
                tier:
                  type: string
                  example: "PRO"
                current_status:
                  type: string
                  example: "verified"
                verification_progress:
                  type: string
                  example: "complete"
            label:
              type: object
              properties:
                id:
                  type: integer
                  example: 7915
                name:
                  type: string
                  example: "Prism Records"
                profile_img:
                  type: string
                  format: uri
                  example: "https://toolost.s3.us-east-2.amazonaws.com/preferences/labels/e6d6854b4af1e859a5e9.jpg"
                about:
                  type: string
                  example: "Discovering Tomorrow's Sound Today"
                website:
                  type: string
                  example: "https://prismrecords.com"
            subscriptions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1001
                  type:
                    type: string
                    example: "Premium"
                  stripe_status:
                    type: string
                    example: "active"
                  created_at:
                    type: string
                    format: date-time
                    example: "2023-05-15T10:30:00.000000Z"
                  next_payment_date:
                    type: string
                    format: date-time
                    example: "2023-06-15T00:00:00.000000Z"
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          type: string
                          example: "price_1I5i3EFr0pXt9moM4WU7Tqma"
                        quantity:
                          type: integer
                          example: 1
            notifications:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 101
                  title:
                    type: string
                    example: "New Payment"
                  message:
                    type: string
                    example: "You received a payment of $5.99"
                  read_at:
                    type: string
                    format: date-time
                    example: "2023-05-16T11:30:00.000000Z"

    Balance:
      type: object
      required:
        - balance
      properties:
        balance:
          type: object
          properties:
            available:
              type: number
              format: float
              example: 10.50
            total_earnings:
              type: number
              format: float
              example: 26.75
            adjustment:
              type: number
              format: float
              example: 0.00
            pending_withdrawals:
              type: number
              format: float
              example: 0.00
            payouts_this_month:
              type: number
              format: float
              example: 8.75
            stripe_balances:
              type: object
              properties:
                available_on_next_payout:
                  type: number
                  format: float
                  example: 5.25
                pending:
                  type: number
                  format: float
                  example: 2.50
            payment_methods:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1001
                  type:
                    type: string
                    example: "Visa ending in 1234"
                  default:
                    type: boolean
                    example: true
                  last_used_at:
                    type: string
                    format: date-time
                    example: "2023-10-07T15:30:00.000000Z"
            royalty_status:
              type: object
              properties:
                is_eligible:
                  type: boolean
                  example: true
                rate:
                  type: number
                  format: float
                  example: 0.85
                last_update:
                  type: string
                  format: date-time
                  example: "2023-09-30T10:00:00.000000Z"
            conversion_history:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1001
                  date:
                    type: string
                    format: date-time
                    example: "2023-10-07T15:30:00.000000Z"
                  amount:
                    type: number
                    format: float
                    example: 5.99
                  currency:
                    type: string
                    example: "USD"
                  status:
                    type: string
                    example: "completed"

    Release:
      type: object
      properties:
        id:
          type: integer
          example: 630245
        title:
          type: string
          example: "Curses"
        created_at:
          type: string
          format: date-time
          example: "2025-01-20T17:34:08.000000Z"
        cover_url:
          type: string
          format: uri
          nullable: true
          example: "https://toolost.s3.us-east-2.amazonaws.com/artworks/example.jpg"
        status:
          type: integer
          example: 1
        release_date:
          type: string
          format: date
          example: "2025-01-24"
        upc:
          type: string
          example: "0693887662098"
        catalog_number:
          type: string
          example: "TOOLOST3000630245"
        label:
          type: string
          example: "JoBo Gamer Records"
        language:
          type: string
          example: "en"
        primary_genre:
          type: string
          example: "Rock"
        secondary_genre:
          type: string
          nullable: true
          example: "Jazz"
        remix_or_version:
          type: string
          nullable: true
          example: null
        type:
          type: string
          example: "Single"
        c_line:
          type: string
          example: "JoBo Gamer Records"
        c_year:
          type: string
          example: "2025"
        p_line:
          type: string
          example: "JoBo Gamer Records"
        p_year:
          type: string
          example: "2025"
        smartlink:
          type: object
          nullable: true
          properties:
            id:
              type: integer
              example: 511846
            short_id:
              type: string
              example: "curses"
            release_id:
              type: string
              example: "630245"
        participants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "JoBo Gamer"
              id:
                type: integer
                example: 1285472
              role:
                type: string
                example: "primary"

    ReleaseListResponse:
      type: object
      properties:
        submissions:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: "#/components/schemas/Release"
            total:
              type: integer
              example: 55
            per_page:
              type: integer
              example: 8
            last_page:
              type: integer
              example: 7
            next_page_url:
              type: string
              format: uri
              nullable: true
              example: "http://toolost.com/api/portal/release?page=2"

paths:
  /auth/login:
    post:
      summary: "User login to obtain bearer token"
      description: "Authenticates user with email and password to receive JWT token for accessing protected endpoints"
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        404:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/me:
    get:
      summary: "Get Current User Profile"
      description: "Retrieve detailed information about the authenticated user"
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        200:
          description: "User profile retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          description: "Unauthorized - Invalid or missing token"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: "Forbidden - User not authenticated"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wallet/balance:
    get:
      summary: "Get User Wallet Balance"
      description: "Retrieve current wallet balance and financial information for the authenticated user"
      tags: [Finance]
      security:
        - bearerAuth: []
      responses:
        200:
          description: "Wallet balance information retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        401:
          description: "Unauthorized - Invalid or missing token"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: "Forbidden - User not authenticated"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /portal/release:
    get:
      summary: "Retrieve releases from Toolost"
      description: |
        Retrieves a paginated list of music releases from the Toolost API.  
        Supports searching, filtering, sorting, and pagination.
      tags: [Releases]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: search
          in: query
          description: Search keyword (e.g., release title)
          schema:
            type: string
            default: ""
        - name: searchType
          in: query
          description: Field to search by (default is "Release Title")
          schema:
            type: string
            default: "Release Title"
        - name: filter
          in: query
          description: Filter results (e.g., "All")
          schema:
            type: string
            default: "All"
        - name: sort
          in: query
          description: Sort order for releases (e.g., "Late")
          schema:
            type: string
            default: "Late"
      responses:
        200:
          description: "List of releases successfully retrieved"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseListResponse"
        401:
          description: "Unauthorized - Invalid or missing token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: "Server error retrieving releases"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

security:
  - bearerAuth: []

