openapi: 3.0.0
info:
  title: Toolost API
  description: API for Toolost platform
  version: 1.0.7
  contact:
    name: Toolost Support
    url: https://toolost.com/support
    email: support@toolost.com

servers:
  - url: https://toolost.com/api
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: HTTP status code
      required:
        - error
        - code

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        password:
          type: string
          format: password
          description: User password
          example: "password123"
        googleCaptchaToken:
          type: string
          nullable: true
          description: Google reCAPTCHA token (optional)
          example: null

    LoginResponse:
      type: object
      properties:
        status:
          type: string
          description: Response status
          example: "success"
        token:
          type: string
          description: JWT bearer token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      required:
        - status
        - token

    Release:
      type: object
      properties:
        id:
          type: integer
          example: 630245
        title:
          type: string
          example: "Curses"
        created_at:
          type: string
          format: date-time
          example: "2025-01-20T17:34:08.000000Z"
        cover_url:
          type: string
          format: uri
          nullable: true
          example: "https://toolost.s3.us-east-2.amazonaws.com/artworks/example.jpg"
        status:
          type: integer
          example: 1
        release_date:
          type: string
          format: date
          example: "2025-01-24"
        upc:
          type: string
          example: "0693887662098"
        catalog_number:
          type: string
          example: "TOOLOST3000630245"
        label:
          type: string
          example: "JoBo Gamer Records"
        language:
          type: string
          example: "en"
        primary_genre:
          type: string
          example: "Rock"
        secondary_genre:
          type: string
          nullable: true
          example: "Jazz"
        remix_or_version:
          type: string
          nullable: true
          example: null
        type:
          type: string
          example: "Single"
        c_line:
          type: string
          example: "JoBo Gamer Records"
        c_year:
          type: string
          example: "2025"
        p_line:
          type: string
          example: "JoBo Gamer Records"
        p_year:
          type: string
          example: "2025"
        smartlink:
          type: object
          nullable: true
          properties:
            id:
              type: integer
              example: 511846
            short_id:
              type: string
              example: "curses"
            release_id:
              type: string
              example: "630245"
        participants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "JoBo Gamer"
              id:
                type: integer
                example: 1285472
              role:
                type: string
                example: "primary"

    ReleaseListResponse:
      type: object
      properties:
        submissions:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: "#/components/schemas/Release"
            total:
              type: integer
              example: 55
            per_page:
              type: integer
              example: 8
            last_page:
              type: integer
              example: 7
            next_page_url:
              type: string
              format: uri
              nullable: true
              example: "http://toolost.com/api/portal/release?page=2"

paths:
  /auth/login:
    post:
      summary: User login to obtain bearer token
      description: Authenticates user with email and password to receive JWT token for accessing protected endpoints
      tags: [Authentication]
      security: [] # No auth required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        404:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/me:
    get:
      summary: Get current authenticated user profile
      description: Returns detailed information about the currently authenticated user
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        200:
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
        401:
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /portal/release:
    get:
      summary: Retrieve releases from Toolost
      description: |
        Retrieves a paginated list of music releases from the Toolost API.  
        This endpoint supports searching, filtering, sorting, and pagination.
      tags: [Releases]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: search
          in: query
          description: Search keyword (e.g., release title)
          schema:
            type: string
            default: ""
        - name: searchType
          in: query
          description: Field to search by (default is "Release Title")
          schema:
            type: string
            default: "Release Title"
        - name: filter
          in: query
          description: Filter results (e.g., "All")
          schema:
            type: string
            default: "All"
        - name: sort
          in: query
          description: Sort order for releases (e.g., "Late")
          schema:
            type: string
            default: "Late"
      responses:
        200:
          description: List of releases successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseListResponse"
        401:
          description: Unauthorized - Invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Server error retrieving releases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

security:
  - bearerAuth: []
